.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: var(--primary);
}

.header .siteLogo a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header ul li a {
  color: #fff;
}

.humberger {
  display: none;
}

@media (max-width: 600px) {
  .header {
    padding: 20px;
  }

  .header ul {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    height: 100vh;
    width: 60vw;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
  }

  .header ul.showMenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .header ul li {
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 14px;
  }

  .uil-bars {
    color: #fff;
    cursor: pointer;
  }

  .humberger {
    display: block;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}
