* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.uil-bars {
  color: #fff;
  cursor: pointer;
  display: none;
}
